; supervisor config file

; TODO XXX: Should make django_test03 something can pass in (repo_name)
[program:django_test03]
command={{ virtualenv_root }}/django_test03/bin/python3 {{ src_root }}/django_test03/manage.py runserver 0.0.0.0:8000
